.site-header {
  position: relative;
  padding: 3em 0;
  background-color: rgba(#fffdfa, 0.45);

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    @include background-image(linear-gradient(left, rgba(#1e1e1e, 0), rgba(#1e1e1e, 0.25), rgba(#1e1e1e, 0)));
  }

  .description {
    margin-top: 1.5em;
  }
}

.site-header__wrap {
  @extend %wrap;
}

.blog-heading {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
}

.description {
  padding-right: 1em;
  padding-left: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.blog-logo {
  display: block;
}

.site-icons {
  @extend %clearfix;
  text-align: center;
}

a.site-link {
  display: inline-block;
  min-width: 3em;
  margin-top: 1.5em;
  margin-left: 1em;
  margin-bottom: 1em;
  text-align: center;

  &:first-child {
    margin-left: 0;
  }
}

.keyboard-nav-note {
  position: absolute;
  z-index: 1;
  top: 0.25em;
  left: 0.55em;

  span {
    color: rgba(0, 0, 0, 0.38);
    cursor: help;
    @include transition(color 0.25s ease-in-out);

    &:hover {
      color: #333;

      & + .keyboard-nav-text {
        opacity: 1;
        @include transform(translateY(0));
      }
    }
  }
}

.keyboard-nav-text {
  @extend %rounded;
  @extend %shadowed;
  @extend .card;

  max-width: 13em;
  padding: 0.75em;
  line-height: 1.4;
  opacity: 0;
  pointer-events: none;
  @include transform(translateY(0.25em));
  @include transition(all 0.25s ease-in-out);

  .key {
    display: inline-block;
    width: 1em;
  }
}