/**
 * Links are highlighted using colour.
 */

a {
  outline: 0;
  text-decoration: none;
  @include transition(color 0.25s ease-in-out, border-bottom-color 0.25s ease-in-out);

  &:focus {
    outline: thin dotted;
  }
}