.quote blockquote {
  @extend %rounded;
  @include rem(padding, 48px);
  margin-right: 0;
  margin-left: 0;
  @include font-size(19px, 28.5px);
  border: 0;

  @include break(small) {
    @include rem(padding, 62px);
  }

  p {
    quotes: "\201C" "\201D" "\2018" "\2019";
    text-indent: -0.4em;

    &::before { content: open-quote; }
    &::after  { content: close-quote; }
  }
}