.button {
  @extend %shadowed;
  @extend %rounded;
  color: #555;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  @include background-image(linear-gradient(#fff, #f3f3f3));
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

a.button,
.button a {
  display: block;
  padding: 0.75em;
  color: inherit;

  &:hover,
  &:focus {
    color: #fd0000;
  }
}