// Not working in Firefox

.icon::before,
.search__submit {
  font-family: Entypo;
  @include font-size(32px, 12px);
  font-style: normal;
  font-weight: normal;
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

.icon-like::before { content: "6"; }
.icon-reblog::before { content: "h"; }
.icon-perma::before { content: ">"; }
.icon-rss::before { content: "S"; }
.icon-random::before { content: "f"; }
.icon-share::before { content: "/"; }
.icon-archive::before { content: "t"; }
.icon-ask::before { content: "a"; }