.search {
  position: relative;
  max-width: 25em;
  margin-left: auto;
  margin-right: auto;
}

.search__submit {
  position: absolute;
  top: 1.4em;
  right: 1.45em;
  padding: 0;
  line-height: 0.65;
  background: 0;
  border: 0;
  cursor: pointer;
  @include appearance(none);
}

.search__field {
  @extend %rounded;
  width: 100%;
  padding: 1.5em;
  margin: 0;
  font-size: inherit;
  border: 1px solid #fff;
  outline: none;
  @include transition(border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out);
  @include appearance(none);

  &:focus {
    border: 1px solid #4cadeb;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  }
}