.card {
  @extend %shadowed;
  @extend %rounded;
  background-color: #fff;
  z-index: 0;
}

.widget-heading {
  @include rem(padding-right padding-left, 24px);
  margin-bottom: 0;

  @media (min-width: 35em) {
    @include rem(padding-right padding-left, 48px);
  }
}