.search {
  position: relative;
}

.search__submit {
  position: absolute;
  top: 0.65em;
  right: 0.75em;
  padding-bottom: 0.35em;
  line-height: 0.65;
  background: 0;
  border: 0;
  cursor: pointer;
  @include appearance(none);
}

.search__field {
  @extend %rounded;
  width: 100%;
  padding: 1.5em;
  margin: 0;
  border: 1px solid #fff;
  outline: none;
  @include transition(border-color 0.25s ease-in-out);
  @include appearance(none);

  &:focus {
    border: 1px solid #4cadeb;
  }
}